.title {
    color: green;
    background: yellow;
    padding: 50px;
    border: 2px solid black;
    border-radius: 30px;
}

.phrase {
    color: red;
    font-style: italic;
}

.phrase_2 {
    color: red;
    text-decoration: line-through;
}

h1, h2 {
    color: deepskyblue;
}